@charset   "UTF-8";

*,*::before,*::after{
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    letter-spacing: 3px;
    width:100%;
}
body{
    background-color:beige;
 
}
a:link ,a:visited ,a:hover, a:active{
    text-decoration:none;
    color:rgb(0, 0, 0);
}
.sidemenu{
    width:20%;
    height:auto;
   float:left;
   position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-weight: 900;
    background-color:rgba(140, 180, 149, 0.911);
   color:rgb(209, 127, 95);
   display:block;
  
   font-size:2.5rem;
   
} 
.icon{
    text-align: center;
}

.icon img{
    
  width:200px;
  height: auto;
    margin:20px 10px 20px auto ;
    text-align: center;   
}

ul{
    text-align: center;
    margin-top:100px;
    padding-left:0;
    
}
li{
    list-style-type: none;
    margin:20px auto 20px;
    
}
a{text-decoration: none;}
/*mainに関して*/

.header{
    font-size: 1.8rem;
    text-align:center;
    margin:0 auto 0 0 ; 
   

}
.main{
    width:80%;
    height:auto;
   
   float:right;
    
}
h1,h2{color:rgb(177, 100, 100);
    text-align: center;
    font-size:2.3rem;
}
.header-item img{
   
    width:100%;
   
    border-radius: 4px;
    
   
}

.midokoro p{
    font-size:1.6rem;
   margin:0 20px;
   width:50%;

}

.midokoro-text1{
    background:  url(images/春.png) no-repeat;
    background-size:cover;
    display:flex;
    margin-top:20px;
    margin-bottom:20px;
    
    
}
.midokoro-text2{
    background:  url(images/夏.png) repeat;
    background-size:cover;
    display:flex;
    margin-top:20px;
    margin-bottom:20px;
}
.midokoro-text3{
    background:  url(images/秋.png) no-repeat;
    background-size:cover;
    display:flex;
    margin-top:20px;
    margin-bottom:20px;
}
.midokoro-text4{
    background:  url(images/冬.png) no-repeat;
    background-size:cover;
    display:flex;
    margin-top:20px;
    margin-bottom:20px;
}
.image{
    display:block;
    text-align:center;
    margin-bottom:20px;
    margin-top:20px;
    width:50%;   
}


p .title{
    width:100%;
    margin:50px 0; 
}

footer{
    color:black;
    font-size:0.2rem;
   position:absolute;
   bottom:0;

/*レスポンシブデザイン*/
img{
    max-width:100%;
    height:auto;
}
@media(max-width:767px){
   
    
}
